<article>

  <nav>
    {{#prev}}
    <a href="{{{prev.link}}}" title="{{prev.subject}}">prev</a>
    {{/prev}}
    {{#next}}
    <a href="{{{next.link}}}" title="{{next.subject}}">next</a>
    {{/next}}
  </nav>

  <h2>{{ subject }}</h2>

  <p>Latest update: {{ mtime }}</p>

  {{{ body }}}

  <p>Tags:</p>

  <p>Authors:</p>

</article>
