<article>

  <nav>
    <a href='{{{prev.link}}}'>{{prev.subject}}</a>
    <a href='{{{next.link}}}'>{{next.subject}}</a>
  </nav>

  <h2>{{ subject }}</h2>

  <p>Latest update: {{ mtime }}</p>

  {{{ body }}}

  <p>Tags:</p>

  <p>Authors:</p>

</article>
