<footer>

  <style>
    /* 'contents' widget */
    summary:only-child::-webkit-details-marker { display: none; }
    details details { margin-left:1em; }
  </style>

  <br>
  <%- contents.pages %>
  <br>
  <%- contents.posts %>

  <p>Authors:</p>
  <%- authors_list %>

  <p>Tags:</p>
  <%- tags_list %>

</footer>
