  <nav>
    <img src='<%= path.join(root, 'avatar.jpg') %>' alt='avatar'>

    <p>
      <a href="<%= path.join(root, 'rss.xml') %>"><img src='<%= path.join(root, 'rss.svg') %>' style="height: 1em">
	Subscribe
      </a>
    </p>

    <div id="nbe__contents--pages">&there4;</div>
    <br>
    <div id="nbe__contents--posts">&there4;</div>

    <p>Authors:</p>
    <div id="nbe__metatags--authors">&there4;</div>

    <p>Tags:</p>
    <div id="nbe__metatags--tags">&there4;</div>
  </nav>

</main>

<footer>
  <!-- a deep quote -->
  <p>
    This is no time to bite the bullet with our synchronised incremental
    paradigm shifts.
  </p>
</footer>

<script src="<%= path.join(root, 'nav.js') %>"></script>
