<!doctype html>
<title>{{config.title}} :: {{subject}} </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{{root}}}/style.css">

<h1>{{config.title}}</h1>
