body {
  max-width: 700px;
  margin: 0 auto;
  color: #191919;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

pre {
  padding: 2px 2px 2px 1em;
  word-wrap: break-word;
}

code,
pre {
  background-color: #fafafa;
  white-space: pre-wrap;
}
