:root {
  --body-fg: #191919;
  --gutter: 10px;
}

body {
  max-width: 950px;
  margin: 0 auto;
  color: var(--body-fg);
  font-family: Georgia, serif;
}

a { text-decoration: none; }

/* a diff font for headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
}

img,
object,
video,
embed {
  width: auto;
  max-width: 100%;
  height: auto;
}

pre {
  padding: 2px 2px 2px 1em;
  word-wrap: break-word;
}

code,
pre {
  background-color: #fafafa;
  white-space: pre-wrap;
}

header {
  border-bottom: 1px dotted var(--body-fg);
  display: flex;
  justify-content: center;
}

header > h1 { margin: 0.2em; }

footer {
  border-top: 1px dotted var(--body-fg);
  color: gray;
  font-size: smaller;
}

hr {
  border: 0;
  border-bottom: 1px dotted gray;
}

main > nav > img {
  max-width: 95%;
  margin: var(--gutter) 0;
}

/* the holy grail */

main { display: flex; }

main > section {
  order: 2;
  min-width: 600px;
  flex: 1;
  margin-bottom: var(--gutter);
}

main > nav {
  order: 1;
  width: 240px;
  margin-right: var(--gutter);
  border-right: 1px dotted var(--body-fg);
}

@media (max-width: 949px) {
  /* too narrow to support 2 columns */
  body {
    max-width: 700px;
  }

  main { flex-flow: column; }

  main > section,
  main > nav {
    order: 0;
    width: auto;
  }

  main > nav {
    margin-top: var(--gutter);
    border-top: 1px dotted var(--body-fg);
    border-right: 0;
  }

  main > nav > img { display: none; }
}
