:root {
  --body-fg: #191919;
  --gutter: 10px;
  --faint-gray: #fafafa;
  --light-gray: #f0f0f0;
  --site-max-width: 950px;
  --post-max-width: 700px;
  --nav-max-width: 240px;
}

@media (min-width: 980px) {
  body {
    max-width: var(--site-max-width);
    margin-left: auto;
    margin-right: auto;
  }
}

body {
  color: var(--body-fg);
  font-family: Georgia, serif;
  margin-top: 0;
}

a { text-decoration: none; }

blockquote {
  margin-left: 1em;
  margin-right: 1em;
}

/* a diff font for headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
}

img,
object,
video,
embed {
  width: auto;
  max-width: 100%;
  height: auto;
}

.img--float-right {
  float: right;
  max-width: 100%;
  width: auto;
  margin: 1em 0 1em 1em;
}

pre {
  padding: 2px 2px 2px 1em;
  word-wrap: break-word;
}

code,
pre {
  background-color: var(--faint-gray);
  white-space: pre-wrap;
}

:target { background: gold; }

summary { word-wrap: break-word; }
summary:not(:last-child) { cursor: pointer; }
summary:only-child { display: flex; }
summary:hover:not(:last-child) { background: var(--light-gray); }
summary > a { width: 100%; }
summary > a:hover { background: var(--light-gray); }

body > main > nav > img {
  border-radius: 6px;
  margin: var(--gutter) 0;
}

nav.prevnext {
  display: flex;
  font-size: xx-large;
  justify-content: space-between;
}

nav.prevnext a {
  display: block;
  border: 1px solid var(--light-gray);
  border-radius: 6px;
  padding: 0 calc(var(--gutter) * 4);
  margin-top: var(--gutter);
}

body > header {
  border-bottom: 1px dotted var(--body-fg);
  display: flex;
  justify-content: center;
  align-items: center;
}

body > header .nbe__search {
  height: 2em;
  flex-grow: 0.3;
  display: flex;
  justify-content: center;
}

.nbe__search > img { height: inherit; }

#nfts__dialog {
  border-bottom: 1px dotted var(--body-fg);
  padding: var(--gutter) 0;
}

#nfts__dialog > div { margin-top: 1em; }

body > header > h1 { margin: 0.2em; }

body > footer {
  border-top: 1px dotted var(--body-fg);
  color: gray;
  font-size: smaller;
}

hr {
  border: 0;
  border-bottom: 1px dotted gray;
}

audio { width: 100%; }

/* the holy grail */

body > main { display: flex; }

body > main > section {
  order: 2;
  flex: 1;
  margin-bottom: var(--gutter);
  max-width: var(--post-max-width);
  padding-left: var(--gutter);
  word-wrap: break-word;
}

body > main > nav {
  order: 1;
  width: var(--nav-max-width);
  padding-right: var(--gutter);
  border-right: 1px dotted var(--body-fg);
}

@media (max-width: 949px) {
  /* too narrow to support 2 columns */
  body > main { flex-flow: column; }

  body > main > section { padding-left: 0; }

  body > main > section,
  body > main > nav {
    order: 0;
    width: auto;
  }

  body > main > nav {
    margin-top: var(--gutter);
    border-top: 1px dotted var(--body-fg);
    padding-right: 0;
    border-right: 0;
  }

  body > main > nav > img { display: none; }
}

@media print {
  nav.screen,
  body > main > nav,
  body > header,
  body > footer { display: none; }
}


/* Chartist */
#nbe__authors__graph .ct-label.ct-horizontal.ct-end {
  width: 6em !important;
  justify-content: flex-end;
  transform-origin: 100% 45%;
  transform: translate(-100%) rotate(-60deg);
}

#nbe__authors__graph .ct-label { color: var(--body-fg); }

#nbe__authors__graph__tooltip {
  background: cornsilk;
  border: 1px solid var(--body-fg);
  padding: 5px;
}
